@import "tailwindcss";
body{
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(117 118 147 / var(--tw-text-opacity));
}
